body{
    background-color: e5e5e5;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

/* background: linear-gradient(#DDE8F7,#fff); */
/*  Paleta de colores
#1470FF
#1479FF
#193b68
#FFF
#14D2FF
#14a5FF
#14ebff 
*/
